<!DOCTYPE html>
<%
/*****************************************************************************
 * Classification: UNCLASSIFIED                                              *
 *                                                                           *
 * Copyright (C) 2018, Lockheed Martin Corporation                           *
 *                                                                           *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.       *
 * It is not approved for public release or redistribution.                  *
 *                                                                           *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export *
 * control laws. Contact legal and export compliance prior to distribution.  *
 *****************************************************************************/
/**
 * @module views.layout
 *
 * @author Josh Kaplan <joshua.d.kaplan@lmco.com>
 *
 * @description The layout file that decribes how pages are layed out.
 */
%>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <% if (typeof title !== 'undefined') { %>
    <%= title %>
    <% } else { %>
    <%= 'MBEE | Model-Based Engineering Environment' %>
    <% } %>
  </title>

  <link rel="icon" type="img/ico" href="/img/favicon.ico">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/meyer.css"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <%
  // This defines a section within express-ejs-layouts
  // using the 'defineContent' function allows this section to default to ''
  %>
  <%- defineContent('styles') %>

</head>
<body class="mbee-theme">


<% if (ui.banner.on) { %>
<%- include('_includes/banner-header'); %>
<% } %>

<%- include('_includes/nav'); %>

<div class="no-padding">

  <% if (typeof sidebar !== 'undefined') { %>
  <%- include('_includes/nav-sidebar'); %>
  <% } %>

  <div id="content" class="content">
    <%- body %>
  </div>

</div>


<% if (ui.banner.on) { %>
<%- include('_includes/banner-footer'); %>
<% } %>

<!-- Scripts -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mbee.js"></script>

<!-- Custom Scripts -->
<script>
  $(document).ready(function() {
    $(".collapsible").click(function(){
      $(this).next("div").slideToggle(100);
    });
  });

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  if (document.getElementById("nav-sidebar")) {
    document.getElementById("content").classList.add('sidebar-full');
  }

  <% if (ui.banner.on) { %>
  document.getElementById("navbar").classList.add('navbar-banner');
  document.getElementById("content").classList.add('content-banner');
  if (document.getElementById("nav-sidebar")) {
    document.getElementById("nav-sidebar").classList.add('nav-sidebar-banner');
  }
  <% } %>

  function toggleSidebar() {
    document.getElementById("nav-sidebar").classList.toggle("sidebar-min");
    document.getElementById("content").classList.toggle("sidebar-min");
  };

</script>

<%
// This defines a section within express-ejs-layouts
// using the 'defineContent' function allows this section to default to ''
%>
<%- defineContent('scripts') %>
</body>
</html>
