<!DOCTYPE html>
<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.layout
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license LMPI
 *
 * LMPI WARNING: This file is Lockheed Martin Proprietary Information.
 * It is not approved for public release or redistribution.
 *
 * EXPORT CONTROL WARNING: This software may be subject to applicable export
 * control laws. Contact legal and export compliance prior to distribution.
 *
 * @author Josh Kaplan <joshua.d.kaplan@lmco.com>
 *
 * @description The layout file is the base template for all other views.
 */
%>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
    <% if (typeof title !== 'undefined') { %>
      <%= title %>
    <% } else { %>
      <%= 'MBEE | Model-Based Engineering Environment' %>
    <% } %>
    </title>

    <link rel="icon" type="img/ico" href="/img/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/meyer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <%
     // This defines a section within express-ejs-layouts
     // using the 'defineContent' function allows this section to default to ''
     %>
    <%- defineContent('styles') %>

    <!-- TODO: Remove react scripts before public release (MBX-370) -->
    <!-- React.js -->
    <script type="text/javascript" src="/js/react.min.js"></script>
    <script type="text/javascript" src="/js/react-dom.min.js"></script>

  </head>
  <body class="lm-light-theme">
    <% if (ui.banner.on) { %>
    <%- include('_includes/banner-header'); %>
    <% } %>

    <%- include('_includes/nav'); %>

    <div id="root">
      <div class="container-fluid">
        <%- body %>
      </div>
    </div>

    <% if (ui.banner.on) { %>
    <%- include('_includes/banner-footer'); %>
    <% } %>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- TODO: Remove mbee.js script before public release (MBX-370) -->
    <script type="text/javascript" src="/js/mbee.js"></script>

    <%
     // This defines a section within express-ejs-layouts
     // using the 'defineContent' function allows this section to default to ''
     %>
    <%- defineContent('scripts') %>
  </body>
</html>
