<%
const projects = org.projects;
const members = org.permissions.read;
%>

<div class="container mbee-organization">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= org.name%></li>
    </ol>
  </nav>
  <hr class="mb-4">
  <div class="org-header">
    <h1 class="display-4"><%= org.name%></h1>
    <% if (user.admin || org.permissions.admin.map(u => u.username).includes(user.username)) { %>
    <a href="/<%=org.id%>/edit" class="btn btn-outline-warning" role="button"> edit </a>
    <% } %>
  </div>



  <h3 id="projects" class="mt-3">Projects</h3>
  <% if (projects.length > 0) { %>

  <ul class="mbee-list">
    <% for (let i = 0; i < projects.length; i++) { %>
    <li class="mbee-list-item">
      <a href="<%=org.id%>/<%=projects[i].id%>">
        <div class="project-list-item">

          <div class="project-list-title">
            <%=projects[i].name%>
          </div>

          <div class="project-list-stats">

            <div class="project-list-stats-members">
              <i class="fas fa-user-astronaut"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Members">
              </i>
              <span><%= projects[i].permissions.read.length%></span>
            </div>
          </div>

        </div>
      </a>

    </li>
    <% } %>
  </ul>

  <% } else { %>
  <p> This organization does not currently contain any projects</p>
  <% } %>

  <h3 id="members" class="mt-5">Members</h3>

  <% if (members.length > 0) { %>
  <ul class="mbee-list">
    <% for (let i = 0; i < members.length; i++) { %>

    <li class="mbee-list-item">

      <div class="member-list-item">

        <div class="member-list-title">
          <i class="fas fa-user-astronaut icon-close">
          </i>
          <span><%=members[i].name%></span>
        </div>

        <div class="member-list-stats">
          <div class="member-list-stats-email">
            <i class="fas fa-envelope"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Email">
            </i>
            <span><%= members[i].email%></span>
          </div>
        </div>
      </div>

    </li>
    <% } %>
  </ul>

  <% } else { %>
  <p> This organization does not currently contain any members</p>
  <% } %>

</div>
