<div class="container mbee-organization">

  <hr class="mb-4">
  <div class="org-header">
    <h1 class="display-4"><%= org.name%></h1>
  </div>

  <form>
    <div class="form-group">
      <label for="name">Organization Name</label>
      <input class="form-control" id="name" aria-describedby="emailHelp" placeholder="Organization Name" value="<%= org.name %>">
      <div class="invalid-feedback">
        Invalid: An organization name may only contain letters, numbers, space, or dashes
      </div>
    </div>
    <div id="form-custom" class="form-group">
      <label for="custom">Custom Data</label>
      <textarea class="form-control" id="custom" rows="10" placeholder="Custom Data"><%= JSON.stringify(org.custom, null, 2) %></textarea>
      <div class="invalid-feedback">
        Invalid: Custom data must be valid JSON
      </div>
    </div>

    <button id="subitForm"  type="button" class="btn btn-primary">Save</button>
    <a id="cancelForm" href="/<%= org.id %>" class="btn btn-secondary">Cancel</a>
  </form>
</div>

<div id="save-warning" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color: #222222;" >Save Failed</h4>
      </div>
      <div class="modal-body">
        <p style="color:#333;">Your changes to '<%= org.name %>' failed to save.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<%- contentFor('scripts') %>
<script>
  $(document).ready(function() {
    const nameRegex = /<%= validators.name %>/
    $('#name').on('input', function() {
      if (nameRegex.test($(this).val())) {
        $(this).removeClass('is-invalid')
      }
      else {
        $(this).addClass('is-invalid')
      }
    })

    $('#custom').on('input', function() {
      try {
        JSON.parse($("#custom").val())
        $(this).removeClass('is-invalid')
      }
      catch {
        $(this).removeClass('is-valid')
      }
    })

    $('#subitForm').click(function() {
      if (!nameRegex.test($("#name").val())) {
        $('#name').effect('shake')
        return
      }
      try {
        JSON.parse($("#custom").val())
      }
      catch {
        $('#custom').effect('shake')
        return
      }

      jQuery.ajax({
        method: "PATCH",
        url: "<%= `/api/orgs/${org.id}` %>",
        data: {name: $("#name").val(), custom: JSON.parse($("#custom").val())}
      })
      .done(function (msg, status) {
        window.location.replace('/<%= org.id %>');
      })
      .fail(function(msg) {
        $('#save-warning').modal('show');
      });
    });
  });
</script>
