<div class="container mbee-organization-list">

  <h1>Your Organizations</h1>

  <% if (orgs.length > 0) { %>

  <% for (let i = 0; i < orgs.length; i++) { %>
  <div class="card">
    <div class="card-header"
         data-toggle="collapse"
         data-target="#<%= orgs[i].id %>"
         aria-expanded="false"
         aria-controls="<%= orgs[i].id %>">

      <div class="org-card-header">

        <div class="org-card-header-title">
          <i class="fas fa-folder icon-close"></i>
          <i class="fas fa-folder-open icon-open"></i>
          <h4>
            <a href="/<%= orgs[i].id %>"><%= orgs[i].name %></a>
          </h4>
        </div>

        <div class="org-card-header-stats">
          <div class="org-card-header-stats-projects">
            <i class="fas fa-box"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Projects">
            </i>
            <span><%= orgs[i].projects.length%></span>
          </div>
          <div class="org-card-header-stats-members">
            <i class="fas fa-users"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Members">
            </i>
            <span><%= orgs[i].permissions.read.length%></span>
          </div>

        </div>


      </div>
    </div>


    <div id="<%=orgs[i].id%>" class="card-body collapse">
      <% if (orgs[i].projects.length > 0) {%>

      <ul class="mbee-list">
        <% for (let j = 0; j < orgs[i].projects.length; j++) { %>
        <li class="mbee-list-item">
          <a href="<%=orgs[i].id%>/<%=orgs[i].projects[j].id%>">
            <div class="project-list-item">

              <div class="project-list-title">
                <%=orgs[i].projects[j].name%>
              </div>

              <div class="project-list-stats">

                <div class="project-list-stats-members">
                  <i class="fas fa-users"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Members">
                  </i>
                  <span><%= orgs[i].projects[j].permissions.read.length%></span>
                </div>
              </div>

            </div>
          </a>

        </li>
        <% } %>
      </ul>

      <% } else { %>
      <p>No Projects Found</p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% } else { %>
  <h3>You do not belong to any organizations</h3>
  <p> Organization you are added to will show up here.</p>
  <% } %>

</div>
