<%
const org = project.org;
const members = project.permissions.read;
%>

<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/<%= org.id%>"><%= org.name%></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= project.name%></li>
    </ol>
  </nav>

  <hr class="mb-4">

  <h1 class="display-4"><%= project.name%></h1>

  <h3 id="elements" class="mt-3">Elements</h3>
  <% if (elements) { %>

    <%- include('element-tree-render', {root: elements} ) %>

  <% } else { %>
    <p> This Organization does not currently contain any elements</p>
  <% } %>


  <h3 id="members" class="mt-5">Members</h3>

  <% if (members.length > 0) { %>
  <ul class="mbee-list">
    <% for (let i = 0; i < members.length; i++) { %>

    <li class="mbee-list-item">

      <div class="member-list-item">

        <div class="member-list-title">
          <i class="fas fa-users icon-close">
          </i>
          <span><%=members[i].name%></span>
        </div>

        <div class="member-list-stats">
          <div class="member-list-stats-email">
            <i class="fas fa-envelope"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="Email">
            </i>
            <span><%= members[i].email%></span>
          </div>
        </div>
      </div>

    </li>
    <% } %>
  </ul>

  <% } else { %>
  <p> This project does not contain any members</p>
  <% } %>



</div>

<div class="tree-sidebar">
  <div class ="element-header">
    <i class="fas fa-times close-tree-sidebar"></i>
    <i class="fas fa-project-diagram"></i>
    <h2> Element Details</h2>
  </div>
  <div class="element-content">
    <hr>
    <div class="element-item">
      <div class="element-key">
        <span class="element-item-name-key">Name:</span>
      </div>
      <div class="element-value">
        <span class="element-item-name-value">Loading...</span>
      </div>
    </div>
    <hr>

    <div class="element-item">
      <div class="element-key">
        <span class="element-item-id-key">ID:</span>
      </div>
      <div class="element-value">
        <span class="element-item-id-value">Loading...</span>
      </div>
    </div>
    <hr>

    <div class="element-item">
      <div class="element-key">
        <span class="element-item-parent-key">Parent:</span>
      </div>
      <div class="element-value">
        <span class="element-item-parent-value">Loading...</span>
      </div>
    </div>
    <hr>

    <div class="element-item">
      <div class="element-key">
        <span class="element-item-created-key">Created On:</span>
      </div>
      <div class="element-value">
        <span class="element-item-created-value">Loading...</span>
      </div>
    </div>
    <hr>

    <div class="element-item">
      <div class="element-key">
        <span class="element-item-updated-key">Last Updated:</span>
      </div>
      <div class="element-value">
        <span class="element-item-updated-value">Loading...</span>
      </div>
    </div>
    <hr>

    <div class="element-item">
      <div class="element-key">
        <span class="element-item-custom-key">Custom:</span>
      </div>
      <div class="element-value">
        <span class="element-item-custom-value">Loading...</span>
      </div>
    </div>
    <hr>

    <div class="element-item">
      <div class="element-key">
        <span class="element-item-documentation-key">Documentation:</span>
      </div>
      <div class="element-value">
        <span class="element-item-documentation-value">Loading...</span>
      </div>
    </div>
  </div>
  <hr>
</div>


