<%
  const orgs = user.orgs;
  const projects = user.proj;
  const customData = user.custom;
%>
<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= name%></li>
    </ol>
  </nav>

  <hr class="mb-4">

  <h1 class="display-4"><%= user.name%></h1>

  <hr class="mb-2">

  <ul class="user-info">

  <h3 id="users" class="mt-1">User Information</h3>
    <table style="width:100%">
      <tr>
        <th>Username</th>
        <th><%= user.username %></th>
      </tr>
      <tr>
        <td>Preferred Name</td>
        <td><%= user.preferredName %></td>
      </tr>
      <tr>
        <td>Admin</td>
        <td><%= user.admin %></td>
      </tr>
    </table>
    <br>
  <% if (customData) { %>
    <h6 id="users" class="mt-1">Custom Data</h6>
    <span><%= JSON.stringify(customData, null, 4).replace(/[\{\}\"]/g, " ") %></span>
  </ul>

  <% } %>

</div>
